@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../assets/imagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pag1 {
    /* height: 100%; */
    width: 100%;
}

.nav {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px black; */
    position: fixed;
    width: 100%;
}

.opcoes_nav {
    /* border: solid 1px blue; */
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.opcoes_nav a {
    font-size: 120%;
    text-decoration: none;
    color: white;
}

.opcoes_nav {
    float: left;
    margin: 20px;
    padding: 20px 30px;
}

.opcoes_nav a{
    position: relative;
    color: rgb(0, 0, 0);
}

.opcoes_nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.opcoes_nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.pag1 .titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.titulo .frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.frase p {
    font-size: 775%;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-weight: bold;
}

.pgn1 .button {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pgn1 .button {
    width: 30vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 4px;
    /* border: solid 1px yellow; */
}

.pgn1 .button a {
    font-size: 200%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.pag1 .texto .button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    transition-duration: 0.4s;
}

.pag1 .texto .button a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.pag1 .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(56, 56, 56);
  }












.pag2 {
    background-color: aliceblue;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag2 .texto {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
    height: 45vh;

}

.pag2 .texto .titulo {
    font-size: 350%;
    /* border: solid 1px black; */
    font-family: 'Poppins', sans-serif;
}

.pag2 .texto .text {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 190%;
    text-align: center;
    /* border: solid 1px black; */
}

.pag2 .texto .text p {
    color: rgba(0, 0, 0, 0.672);
}

.pag2 .texto .button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    transition-duration: 0.4s;
}

.pag2 .texto .button a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.pag2 .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(56, 56, 56);
  }
  

.pag4 {
    background-color: aliceblue;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
}

.pag4 .galeria {
    /* border: solid 1px black; */
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pag4 .galeria .titulo {
    font-size: 350%;
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px black; */
}

.pag4 .galeria .imagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 1vh;
    height: 80vh;
    /* border: solid 1px black; */
}

.pag4 .galeria .imagem .grid {
    background-image: url("../assets/abstract-image-of-colored-paper-creating-horizontal-lines.jpg");
    background-size: cover;
    width: 100%;
    height: 90%;
    /* border: solid 1px black; */
    box-shadow: 6px 4px 3px rgba(0, 0, 0, 0.226);
}

.pag4 .galeria .button {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 8%;
    background-color: black;
}

.pag4 .galeria .button a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.pag5 {
    background-color: aliceblue;
    /* border: solid 1px black; */
}

.pag5 .avaliacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: solid 1px black; */
}

.pag5 .avaliacao .titulo {
    font-size: 350%;
    /* border: solid 1px black; */
    font-family: 'Poppins', sans-serif;
}

.pag5 .avaliacao .caixa {
    display: flex;
    justify-content: space-around;
    width: 60%;
    gap: 10px;
}

.pag5 .avaliacao .box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    box-shadow: 6px 4px 3px rgba(0, 0, 0, 0.226);
    /* border: solid 1px black; */
}

.pag5 .avaliacao .box .image {
    display: flex;
    justify-content: center;
    /* border: solid 1px black; */
}

.pag5 .avaliacao .box .image img {
    width: 40%;
    height: 40%;
    border-radius: 100%;
}

.pag5 .avaliacao .box .texto {
    text-align: center;
    color: rgba(0, 0, 0, 0.606);
    /* border: solid 1px black; */
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;
}

.pag5 .avaliacao .box .nome {
    margin: 10px;
    font-size: 180%;
    display: flex;
    color: rgba(0, 0, 0, 0.83);
    justify-content: center;
    /* border: solid 1px black; */
    font-family: 'Montserrat', sans-serif;
}

.pag6 {
    background-color: aliceblue;
}

.pag6 .fale {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    /* border: solid 1px black; */
}

.pag6 .fale .titulo {
    font-size: 350%;
    font-family: 'Poppins', sans-serif;
    /* border: solid 1px black; */
}

.pag6 .fale .texto {
    text-align: center;
    color: rgba(0, 0, 0, 0.606);
    margin: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    font-family: 'Montserrat', sans-serif;
    /* border: solid 1px black; */
}

.pag6 .fale .input {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid 1px black;
    height: 40vh;
}

.pag6 .fale .button {
    width: 50%;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    /* border: solid 1px black; */
}

.pag6 .fale .button a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;

}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined>input,
.omrs-input-filled>input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
    outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    ;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
    border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
    fill: var(--omrs-color-ink-high-contrast);
}

footer {
    justify-content: flex-end;
    background-color: white;
}

.desenvolvedor {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px blue; */
}